<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>common/imgs/chip/chip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,1},{120,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,119}</string>
			</dict>
			<key>common/imgs/chip/chip_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,122},{120,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,119}</string>
			</dict>
			<key>common/imgs/chip/chip_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,267},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/imgs/chip/chip_1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,389},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/imgs/chip/chip_10000.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,267},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/imgs/chip/chip_100000.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,389},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/imgs/chip/chip_1000000.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/imgs/chip/chip_150000.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,123},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/imgs/chip/chip_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,243},{120,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,119}</string>
			</dict>
			<key>common/imgs/chip/chip_240000.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,245},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/imgs/chip/chip_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,364},{120,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,119}</string>
			</dict>
			<key>common/imgs/chip/chip_300.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,367},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/imgs/chip/chip_3000.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/imgs/chip/chip_30000.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,123},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/imgs/chip/chip_300000.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,245},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/imgs/chip/chip_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,1},{120,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,119}</string>
			</dict>
			<key>common/imgs/chip/chip_500.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,367},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/imgs/chip/chip_5000.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/imgs/chip/chip_50000.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,123},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/imgs/chip/chip_500000.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,245},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/imgs/chip/chip_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,122},{120,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,119}</string>
			</dict>
			<key>common/imgs/chip/chip_800.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,367},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/imgs/chip/chip_8000.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/imgs/chip/chip_80000.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,123},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/imgs/chip/chip_800000.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,245},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/imgs/chip/chip_90000.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,367},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/imgs/chip/chip_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{132,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,131}</string>
			</dict>
			<key>common/imgs/chip/selectchip.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,134},{132,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,131}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>chip.png</string>
			<key>realTextureFileName</key>
			<string>chip.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>