<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>common/imgs/poker/poker_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,271},{95,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,127}</string>
			</dict>
			<key>common/imgs/poker/poker_101.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,271},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_102.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,406},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_103.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,541},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_104.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,676},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,811},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_111.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,271},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_112.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,136},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_113.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,1},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_114.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,406},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,541},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_121.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,676},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_122.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,136},{102,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,133}</string>
			</dict>
			<key>common/imgs/poker/poker_123.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,811},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_124.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,271},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,136},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_131.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{104,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,133}</string>
			</dict>
			<key>common/imgs/poker/poker_132.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,811},{98,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,133}</string>
			</dict>
			<key>common/imgs/poker/poker_133.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,811},{98,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,133}</string>
			</dict>
			<key>common/imgs/poker/poker_134.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,676},{100,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,133}</string>
			</dict>
			<key>common/imgs/poker/poker_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,1},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,406},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,541},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,676},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,811},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,271},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,136},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,1},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,406},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,541},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,676},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,811},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,271},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,136},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,1},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,406},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,541},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_61.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,676},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_62.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,811},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_63.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,271},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,136},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_71.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,1},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_72.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,271},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_73.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,136},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_74.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,1},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_81.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,271},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_82.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,136},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_83.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_84.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,271},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_91.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,136},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_92.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,1},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_93.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,406},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
			<key>common/imgs/poker/poker_94.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,541},{101,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,133}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>poker.png</string>
			<key>realTextureFileName</key>
			<string>poker.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>